name: reports

on:
  # push:
  #   branches: [ master ]
  schedule:
    - cron: "0 0 * * *"  # once a day
  workflow_dispatch:  # allow manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build changelog.html
        run: |
          python scripts/build_changelog.py

      - name: Commit changelog.html
        uses: EndBug/add-and-commit@v9
        with:
          add: "docs/changelog.html"
